.card {
  height: 340px;
}

.card-img-top {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 10px;
}

.card-body h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-body p {
  margin-bottom: 8px;
}
